<?xml version="1.0" encoding="UTF-8"?>
<log4net
  xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--
	Kdnc Step 3
    Diagnostic log file appender.
    -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger : %message%newline" />
		</layout>
	</appender>

	<!--
	Kdnc Step 4
    Root logger.
    -->
	<root>
		<level value="ALL"/>
		<appender-ref ref="ConsoleAppender"/>
	</root>

	<!--
	Kdnc Step 5
    Application loggers:
    -->
	<logger name="Kdnc.App.Web.Controllers">
		<level value="DEBUG"/>
		<appender-ref ref="ConsoleAppender" />
	</logger>

</log4net>